# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_excel('C:\\Users\\Santiago\\Desktop\\Ironhack Files\\orders.xlsx')
orders.head()

,Order ID,Ship Date,Ship Mode,City,State,Country,Region,Product ID,Jan,Feb,Mar,Apr,May,June,July,August,September,Oct,Nov,Dec
0,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,FUR-BO-10001405,0.296785,0.740937,0.319342,0.664082,0.491991,0.279603,0.721468,0.827661,0.266435,0.593755,0.624222,0.666361
1,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-AP-10000977,0.920646,0.968545,0.171464,0.244247,0.025352,0.119380,0.931719,0.742272,0.886169,0.258289,0.523348,0.629398
2,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-BI-10002083,0.879809,0.363669,0.150853,0.888946,0.860743,0.648089,0.022201,0.637949,0.873964,0.738800,0.869995,0.182114
3,ES-2015-1001989,2015-03-15,First Class,Berlin,Berlin,Germany,Central,OFF-BI-10002570,0.258669,0.915954,0.207590,0.659243,0.656168,0.346124,0.227398,0.934574,0.639858,0.757322,0.921393,0.983744
4,ES-2015-1010958,2015-06-07,Standard Class,Deuil-la-Barre,Ile-de-France,France,Central,OFF-BI-10004924,0.283790,0.224399,0.518316,0.396888,0.709176,0.137325,0.771152,0.605851,0.209154,0.599237,0.209094,0.662120

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
orders.columns

Index(['Order ID', 'Ship Date', 'Ship Mode', 'City', 'State', 'Country',
       'Region', 'Product ID', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'June',
       'July', 'August', 'September', 'Oct', 'Nov', 'Dec'],
      dtype='object')

In [4]:
orders['amount_spent']=orders['Jan']+orders['Feb']+orders['Mar']+orders['Apr']+orders['May']+orders['June']+orders['July']+orders['August']+orders['September']+orders['Oct']+orders['Nov']+orders['Dec']
orders_total=orders[['Order ID', 'Ship Date', 'Ship Mode', 'City', 'State', 'Country',
       'Region', 'Product ID','amount_spent']]
orders_total.head()

,Order ID,Ship Date,Ship Mode,City,State,Country,Region,Product ID,amount_spent
0,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,FUR-BO-10001405,6.492642
1,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-AP-10000977,6.420829
2,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-BI-10002083,7.117130
3,ES-2015-1001989,2015-03-15,First Class,Berlin,Berlin,Germany,Central,OFF-BI-10002570,7.508037
4,ES-2015-1010958,2015-06-07,Standard Class,Deuil-la-Barre,Ile-de-France,France,Central,OFF-BI-10004924,5.326502

In [5]:
# your code here
# VIP Customers whose aggregated expenses at your global chain stores are above the 95th percentile (aka. 0.95 quantile). 
# The second group is Preferred Customers whose aggregated expenses are between the 75th and 95th percentile.
bin_labels = ["Regular","Preferred","VIP"]
orders_total['BinnedSales'] = pd.cut(orders_total['amount_spent'],[2.45,6,7,9.90], labels=bin_labels)
orders_total['BinnedSales']
orders_total['BinnedSales'].value_counts()

C:\Users\Santiago\AppData\Local\Temp\ipykernel_14800\823690572.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders_total['BinnedSales'] = pd.cut(orders_total['amount_spent'],[2.45,6,7,9.90], labels=bin_labels)

Regular      4936
Preferred    3391
VIP          1667
Name: BinnedSales, dtype: int64

In [6]:
orders_total.describe()

       amount_spent
count   9994.000000
mean       6.005574
std        1.006941
min        2.457723
25%        5.314128
50%        6.014903
75%        6.699833
max        9.894283

In [7]:
print(orders_total[(orders_total['BinnedSales']=='VIP')].max())

Order ID            IT-2018-5989338
Ship Date       2019-01-05 00:00:00
Ship Mode            Standard Class
City                        Zwickau
State                        ZÃ¼rich
Country              United Kingdom
Region                        South
Product ID          TEC-PH-10004992
amount_spent               9.894283
BinnedSales                     VIP
dtype: object

In [8]:
print(orders_total[(orders_total['BinnedSales']=='VIP')].min())

Order ID            ES-2014-1846006
Ship Date       2015-01-07 00:00:00
Ship Mode               First Class
City                         Aachen
State                       Abruzzi
Country                     Austria
Region                      Central
Product ID          FUR-BO-10000002
amount_spent               7.000626
BinnedSales                     VIP
dtype: object

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [9]:
# your code here
VIP_orders_total=orders_total[(orders_total['BinnedSales']=='VIP')]
VIP_orders_total['Country'].value_counts()

France            495
Germany           364
United Kingdom    272
Italy             167
Spain             133
Netherlands        61
Austria            49
Sweden             31
Belgium            28
Switzerland        20
Ireland            13
Finland            10
Portugal           10
Norway              7
Denmark             7
Name: Country, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [10]:
# your code here
VIP_orders_total=orders_total[(orders_total['BinnedSales']=='VIP')+(orders_total['BinnedSales']=='Preferred')]
VIP_orders_total['Country'].value_counts()

France            1469
Germany           1026
United Kingdom     831
Italy              548
Spain              435
Netherlands        217
Austria            136
Sweden              94
Belgium             64
Ireland             56
Switzerland         49
Portugal            36
Finland             35
Denmark             32
Norway              30
Name: Country, dtype: int64