# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv("C:\\Users\\Santiago\\Desktop\\Ironhack Files\\orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
orders.columns

Index(['Unnamed: 0', 'InvoiceNo', 'StockCode', 'year', 'month', 'day', 'hour',
       'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID',
       'Country', 'amount_spent'],
      dtype='object')

In [4]:
orders_total=orders.groupby(['CustomerID','Country','CustomerID']).agg({'amount_spent':'sum'})
orders_total

                                      amount_spent
CustomerID Country        CustomerID
12346      United Kingdom 12346           77183.60
12347      Iceland        12347            4310.00
12348      Finland        12348            1797.24
12349      Italy          12349            1757.55
12350      Norway         12350             334.40
...                                            ...
18280      United Kingdom 18280             180.60
18281      United Kingdom 18281              80.82
18282      United Kingdom 18282             178.05
18283      United Kingdom 18283            2094.88
18287      United Kingdom 18287            1837.28

[4347 rows x 1 columns]

In [5]:
# your code here
# VIP Customers whose aggregated expenses at your global chain stores are above the 95th percentile (aka. 0.95 quantile). 
# The second group is Preferred Customers whose aggregated expenses are between the 75th and 95th percentile.
bin_labels = ["Other","Preferred","VIP"]
orders_total['BinnedSales'] = pd.qcut(orders_total['amount_spent'],[0,.25,.75,1], labels=bin_labels)
orders_total.groupby(['BinnedSales']).agg({'amount_spent':'count'})

             amount_spent
BinnedSales
Other                1087
Preferred            2173
VIP                  1087

In [6]:
display(orders_total[(orders_total['BinnedSales']=='VIP')].head())

                                      amount_spent BinnedSales
CustomerID Country        CustomerID
12346      United Kingdom 12346           77183.60         VIP
12347      Iceland        12347            4310.00         VIP
12348      Finland        12348            1797.24         VIP
12349      Italy          12349            1757.55         VIP
12352      Norway         12352            2506.04         VIP

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [7]:
VIP = orders_total[(orders_total['BinnedSales']=='VIP')]
VIP = VIP.groupby('Country').agg({'amount_spent': 'count'})
VIP = VIP.sort_values(by='amount_spent', ascending=False)
VIP.head(10)

                amount_spent
Country
United Kingdom           934
Germany                   39
France                    29
Belgium                   11
Switzerland                9
Spain                      7
Portugal                   7
Norway                     7
Italy                      5
Finland                    5

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [8]:
# your code here
VIP_Preferred = orders_total
VIP_Preferred = orders_total[(orders_total['BinnedSales']=='VIP')+(orders_total['BinnedSales']=='Preferred')]
VIP_Preferred = VIP_Preferred.groupby('Country').agg({'amount_spent': 'count'})
VIP_Preferred = VIP_Preferred.sort_values(by='amount_spent', ascending=False)
VIP_Preferred.head(10)

                amount_spent
Country
United Kingdom          2893
Germany                   83
France                    71
Spain                     24
Belgium                   22
Switzerland               21
Portugal                  18
Italy                     12
Finland                   10
Norway                     9